<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Create new chat</title>
  </head>
  <body>
    <form method="post" action="/chats">
      <p>From:</p>
      <input placeholder="Sender name" type="text" name="from" /><br /><br />
      <textarea name="message" cols="30" rows="10">
Write your message here </textarea
      ><br /><br />
      <p>To:</p>
      <input placeholder="Receiver name" type="text" name="to" /><br /><br />
      <button>Send message</button>
    </form>
  </body>
</html>
